<!DOCTYPE html>
<html>
<head>
<h1 style="background-color:powderblue; font-family:verdana;"  align="middle">Car Damage Level Assessment</h1>
</head>
<body>

<form method="post" enctype="multipart/form-data" name="file" align="middle">
  <input type="file" name="file" accept="image/*" size="100"/>
  <input type="submit" name="image_upload" value="Upload" onclick="loading();"/>
</form>
</body>
<br><br>
{% if damage_report %}
  <div align="middle">
      <label size="100">Damage Report</label><br><br>
        <img src="data:image/jpeg;base64,{{ uploaded_image }}">
        <br><br>
  </div>

  {% for message in messages %}
			    {% if 'error' in message.tags and 'damaged' in message.tags %}
			    <div class="success-message" style ="color: #00FF00">{{ message }}</div>

          {% elif 'success' in message.tags and 'not_damaged' in message.tags %}
			    <div class="success-message" style ="color: #ff0000">{{ message }}</div>
			    {% endif %}

			{% endfor %}
<div align="middle">
  {{damage_report}}
  <br>
  Damaged Part : {{damage_part}}
  <br>
  Damage Level : {{damage_level}}
  <br>
  </div>
{% endif %}
<p>
<p>
<div id='false_prediction_form' align='middle'>
<button style="background-image:url('https://www.flaticon.com/free-icon/right-arrow-circular-button-outline_54240#')">Report False Prediction</button>
</div>

</html>