<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.flex-container {
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;

  height: 200px;
  color: #fff;
  font-size: 1.2rem;
  background: #00008b;
}
</style>
<h1 align="middle">Car Damage Level Assessment</h1>
</head>

<body>
<form method="post" enctype="multipart/form-data" name="file" align="middle">
  <input type="file" name="file" accept="image/*"/>
  <input type="submit" name="image_upload" value="Upload" />
</form>
</body>
<br><br>
{% if damage_report == 'Damaged' %}
  <img src="data:image/png;base64,{{uploaded_image | safe}}" align="middle"/>
  
  <br><br>

  {% for message in messages %}
			    {% if 'error' in message.tags and 'damaged' in message.tags %}
			    <div class="success-message" style ="color: #00FF00">{{ message }}</div>

          {% elif 'success' in message.tags and 'not_damaged' in message.tags %}
			    <div class="success-message" style ="color: #ff0000">{{ message }}</div>
			    {% endif %}

			{% endfor %}

  {{damage_report}}
  <br>
  Damaged Part : {{damage_part}}
  <br>
  Damage Level : {{damage_level}}
  <br>
{% else %}
    {{damage_report}}
{% endif %}
</html>